body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.block{
  border: 1px dotted #ccc;
  margin-bottom: 10px;
  padding: 20px;
}

.block label{
  display: block;
  margin-bottom: 5px;
}

#J_h5showblock, #J_swfshowblock{
  border: 1px solid #ccc;
  display: block;
  margin: 10px;
  padding: 10px;
}

.swfbutton{
  background: #f60;
  width: 200px;
  height: 40px;
}

.img{
  height: 100px;
  width: 100px;
}

.img img{
  height: 100px;
  width: 100px;
}