//- Created by Terry(terry.jiang@bertelsmann.com.cn) on 13-10-29.
doctype 5
html
  head
    title= IX
    link(rel='stylesheet', href='/mods/reset.css')
    link(rel='stylesheet', href='/docs/css/style.css')
  body
  block content
