//- 商业洞察首页
//- @author: terry(terry.jiang@bertelsmann.com.cn)
//- @data: 2013-11-25 16:35

//- 加载公共头
include ../assets/mods/inc/header
  body
    //- 公共主导航
    include ../assets/mods/nav/nav

    //- 面包屑
    include ../assets/mods/path/path






    //- 加载页脚
    include ../assets/mods/inc/footer