//- 主导航
//- @author: terry(terry.jiang@bertelsmann.com.cn)
//- @date: 2013-11-25 13:14

.nav
  h2 IX logo

  //- 主导航
  .menu#J_menu
    ul
      li 商业洞察

      li 营销执行

      li 营销策略

      li 商业评估
      
    .menu_info
      //- 商业洞察
      dl
        dt 洞察仪表盘
        dd 
          a(href="") 销售额
        dd
          a(href="") 订单数
        dt 简报库
        dd
          a(href="") 最新简报
        dd.cur
          a(href="") 已标记简报

      //- 营销执行
      dl
        dt 营销执行仪表盘
        dd 
          a(href="") 营销额
        dd
          a(href="") 订单数

      //- 商业洞察
      dl
        dt 营销策略仪表盘
        dd 
          a(href="") 销售额
        dd
          a(href="") 订单数

      //- 商业洞察
      dl
        dt 商业评估仪表盘
        dd 
          a(href="") 销售额
        dd
          a(href="") 订单数
        dt 简报库
        dd
          a(href="") 最新简报
        dd.cur
          a(href="") 已标记简报


  //- 用户消息提醒
  .message
    i 6条消息
    dl
      dt 3条未读简报
      dd
        a(href="")  未读简报....
      dd
        a(href="")  未读简报....
      dd
        a(href="")  未读简报....

    dl
      dt  3个待批审项目
      dd
        a(href="")  待批审项目....
      dd
        a(href="")  待批审项目....

  //- 用户菜单
  .member
    .user 用户名
    ul
      li
        a(href="") 用户设置

      li
        a(href="") 用户设置

      li
        a(href="") 用户设置

