//- Created by Terry(terry.jiang@bertelsmann.com.cn) on 13-10-29.
//- getstart main

.col-r
  h2 Getting started
  h3 配置介绍
  p 前端是基于node基础上，采用jade编译html, sass编译css, coffeescript编译javascript快速开发。最后使用grunt合并打包部署。
  h4 安装node.js
  p 去官网
    a(href="http://nodejs.org/",target="_blank") 官网
    下载node.js

  h4 安装express
  .highlight npm install -g express

  h4 下载整个开发包
  p svn地址是：
  .highlight https://10.4.58.78/svn/IXCRM/04.Development/Code/HTML

  p 进入项目目录运行
  .highlight npm install

  p 然后输入下面地址进入前端开发目录
  .highlight http://localhost:3000

  h4 配置grunt
  .highlight npm install -g grunt-cil