extends layout

block content
  h1= title
  p Welcome to #{title}

  .block
    label h5上传
    input#J_updata(type="file", multiple)
    #J_h5showblock

  .block
    label flash上传
    .swfbutton
      #J_swfbutton
    #J_swfshowblock
  script(src='/javascripts/script.js')
