extends layout

block content
  h1= title
  p Welcome to #{title}

  .block
    label h5上传
    input#J_updata(type="file", multiple)

  .block
    label flash上传
    #J_swfbutton

  script(src='/javascripts/script.js')
