doctype 5
html
  head
    title= IX
    link(rel='stylesheet', href='/project/mods/global/reset.css')
    link(rel='stylesheet', href='/docs/css/style.css')
  body
    .proj
      h1= title
      p
        a.project(href="/project") 项目目录
      p
        a.doc(href="/docs") 开发文档
      p
        a.test(href="/test") 测试目录
