//- Created by Terry(terry.jiang@bertelsmann.com.cn) on 13-10-29.
//- getstart main

.col-r
  h2 Html 规范
  h4 html文档模板:
  .highlight
    include html_base.md
  h4 jade文档模板:
  .highlight
    include jade_base.md