html
  include includes/head
  body
    h1 my site
    p welcome to my super amazing

    - users = [{name: 'tobi', occ: 'ferr'}]

    each user in users
      .user
        include user

  include includes/foot