extends inc/layout

block content
  .top
    h2 /index.html
    h3 node.js

  .content
    .folder.cf
      ul#J_folder
        li
          .folde
            span.bord
            em 文件夹
            a(href="#") 文件夹名

    .files.cf
      ul#J_files
        li
          .filebox
            span.bord
            em .html
            a(href="#") 文件名
            span.size  100KB
            span.time  2013-08-26 21:35

        li
          .filebox
            span.bord
            em .js
            a(href="#") 文件名
            span.size  100KB
            span.time  2013-08-26 21:35

        li
          .filebox
            span.bord
            em .jade
            a(href="#") 文件名
            span.size  100KB
            span.time  2013-08-26 21:35

        li
          .filebox
            span.bord
            em .sass
            a(href="#") 文件名
            span.size  100KB
            span.time  2013-08-26 21:35

        li
          .filebox
            span.bord
            em .css
            a(href="#") 文件名
            span.size  100KB
            span.time  2013-08-26 21:35