extends inc/layout

block content
  .top
    h2 /index.html
    h3 node.js

  .content
    .folder.cf
      ul
        li
          span
          b 文件夹名
          span  100KB
          span  2013-08-26 21:35

        li
          span
          b 文件夹名
          span  100KB
          span  2013-08-26 21:35

        li
          span
          b 文件夹名
          span  100KB
          span  2013-08-26 21:35

        li
          span
          b 文件夹名
          span  100KB
          span  2013-08-26 21:35

    .files.cf
      ul
        li
          span
          b 文件名
          span  100KB
          span  2013-08-26 21:35