doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  .top
    h1= title
    //- p Welcome to #{filelist}
  ul
  - each val in filelist
    li
      a(href="/index") #{val}