//- Created by Terry(terry.jiang@bertelsmann.com.cn) on 13-10-28.
//- 主导航
block nav
  .top
    h1 IX Docs
    ul
      li.cur
        a(href="/docs") Getting started
      li
        a(href="/docs/html/") Html
      li
        a(href="/docs/css/") Css
      li
        a(href="/docs/js/") Javascript
      li
        a(href="/docs/api/") Api