extends layout

block content
  header.title vacation
  
  .tree-content
    #tree1
  


















  #myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title title
        .modal-body
          p ......
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") close
          button.btn.btn-primary(type="button") save

  script(src="/js/event.js")