extends layout

block content
  header.title vacation
  input.btn.btn-primary(type="button" value="click" id="J_test")
  #filelist 11111
  #control
    #controlTab(role="tabpanel")
      ul.nav.nav-tabs.nav-justified(role="tablist")
        li.active(role="presentation") 111
        li(role="presentation") 222
      .tab-content
        .tab-pane.active(role="tabpanel") 1111
        .tab-pane(role="tabpanel") 2222
  #cmdoutput
    #output
    .control
      input.btn.btn-primary(type="button" value="clear" id="J_clearcmd")
  script(src="/js/event.js")