extends layout

block content
  header.title vacation
  
  ul#browser.filetree
    li
      span.folder folder1
    li
      span.folder folder2
      ul
        li
          span.folder folder3
          ul
            li
              span.file itme3
            li
              span.file itme4
        li
          span.file itme3
    li
      span.folder folder2
      ul
        li
          span.folder folder3
          ul
            li
              span.file itme3
            li
              span.file itme4
  

















  #myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title title
        .modal-body
          p ......
        .modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") close
          button.btn.btn-primary(type="button") save

  script(src="/js/event.js")