doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap-theme.min.css')
    script(src='http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js')
  body
    block content