doctype html
html
  head
    title= title
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href="css/style.css")
    script(src='http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
  body
    block content