extends layout

block content
  ul(style="padding:20px")
    li
      label 名字[拼音]:
      input#ctl00_SiteContentPlaceHolder_FormView1_tbxAPP_GIVEN_NAME(type="text")
    li
      label 姓氏[拼音]:
      input#ctl00_SiteContentPlaceHolder_FormView1_tbxAPP_SURNAME(type="text")
    li
      label 全名[中文]:
      input#ctl00_SiteContentPlaceHolder_FormView1_tbxAPP_FULL_NAME_NATIVE(type="text")
    li
      label 出生日期-年:
      input#ctl00_SiteContentPlaceHolder_FormView1_tbxDOBYear(type="text")
    li
      label 出生日期-月:
      input#ctl00_SiteContentPlaceHolder_FormView1_ddlDOBMonth(type="text")
    li
      label 出生日期-日:
      input#ctl00_SiteContentPlaceHolder_FormView1_ddlDOBDay(type="text")