include dev_js
- var dev_js = ['seajs/sea','jquery/jquery-1.10.2', 'angular/angular','indexeddb/jquery.indexeddb']
- var main_js = ['src/main', 'language/test']
mixin routejs(dev_js, main_js, dev_ment)